<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.msuffo.pregunta3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="org.msuffo.pregunta3.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.msuffo.pregunta3.activities.QuestionActivity" />
        <activity android:name="org.msuffo.pregunta3.activities.RuletaActivity" />
        <activity android:name="org.msuffo.pregunta3.activities.GanasteActivity" />
        <activity android:name="org.msuffo.pregunta3.activities.PerdisteActivity"/>
    </application>
</manifest>